@import '../../../../../common/styles/sass/mixins';

.navLink {
    cursor: pointer;
    color: black;
    text-decoration: none;

    &:hover {
        color: #1975d1;
        transition: color 0.4s ease;
    }
}

.actions {
    @include flex(row, flex-start, center, nowrap);
    cursor: pointer;
    color: black;

    .schoolIcon {
        width: 20px;
        margin-right: 15px;
        opacity: 100%;
        color: black;
        text-decoration: none;

        &:hover {
            position: relative;
            top: 1px;
            color: black;
        }
    }

    .blockSchoolIcon {
        width: 20px;
        margin-right: 15px;
        opacity: 50%;
        cursor: default;
    }

    .editIcon {
        width: 20px;
        margin-right: 15px;
        opacity: 100%;
        color: black;

        &:hover {
            position: relative;
            top: 1px;
        }
    }

    .deleteIcon {
        width: 20px;
        opacity: 100%;
        color: black;

        &:hover {
            position: relative;
            top: 1px;
        }
    }
}

.packAvatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.nameCell {
    max-width: 400px;
    word-break: break-all;
}
