@import '../../../../../common/styles/sass/mixins';

.actions {
    @include flex(row, flex-end, center, wrap);
    cursor: pointer;

    .editIcon {
        opacity: 50%;

        &:hover {
            opacity: 100%;
        }
    }

    .deleteIcon {
        opacity: 50%;

        &:hover {
            opacity: 100%;
        }
    }
}
