@import '../../../../../common/styles/sass/mixins';

.actions {
    @include flex(row, flex-end, center, wrap);
    cursor: pointer;

    .editIcon {
        opacity: 100%;

        &:hover {
            position: relative;
            top: 1px;
        }
    }

    .deleteIcon {
        opacity: 100%;

        &:hover {
            position: relative;
            top: 1px;
        }
    }
}
