@import '../../../common/styles/sass/mixins';

.packListContainer {
    width: 1000px;
    //border: 1px solid red;
    .headBlock {
        @include flex(row, space-between, center, wrap);
        //border: 1px solid blue;
        margin-bottom: 30px;
        justify-content: space-between;
        .headName {
            @include text(22px, 27px, 600);
        }
        .button {
            width: 175px;
            height: 36px;
            border-radius: 30px;
            //background: #366eff;
            text-transform: capitalize;
            box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
        }
    }
    .descriptionBlock {
        //border: 1px solid #282c34;
        @include flex(row, start, center, wrap);
        @include text(14px, 17px, 500);
        .second {
            padding-left: 390px;
        }
        .third {
            padding-left: 120px;
        }
    }

    .settingsBlock {
        //border: 1px solid #525252;
        @include flex(row, start, center, wrap);
        margin-bottom: 24px;
        margin-top: 8px;
    }

    .tableBlock {
        //border: 1px solid #61dafb;
        margin-bottom: 36px;
    }
    .paginationBlock {
        border: 1px solid #282c34;
    }
}
