.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    /*background-color: #383838;*/
    background-color: #fafafb;
}

.headerContainer .navLink {
    color: #383838;
    padding: 10px;
    text-transform: uppercase;
    line-height: 20px;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.headerContainer .navLink:hover {
    color: #2196f3;
    transition: color 1s ease;
}

.headerContainer .active {
    color: #2196f3;
}