@import '../../styles/sass/mixins';
.paginationBlock {
    @include flex(row, start, center, wrap);
    margin-bottom: 36px;
    margin-top: 36px;
    .containerBaseSelect {
        @include flex(row, start, center, wrap);
        margin-left: 30px;
    }
}
