@import '../../../../common/styles/sass/mixins';

.actions {
    @include flex(row, end, center, wrap);
    .schoolIcon {
        width: 20px;
        margin-right: 15px;
    }

    .editIcon {
        width: 20px;
        margin-right: 15px;
    }

    .deleteIcon {
        width: 20px;
    }
}
