.mainContainer {
    position: absolute;
    width: 120px;
    top: 60px;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    z-index: 10;
    border-radius: 3px;
    transition: all 0.3s ease 0s;

    &:before {
        content: '';
        position: absolute;
        right: 10px;
        top: -7.5px;
        border: 2.4px solid transparent;
        border-bottom: 5px solid #cfcfcf;
        z-index: 10;
    }

    &:after {
        content: '';
        position: absolute;
        right: 10px;
        top: -6.2px;
        border: 2.4px solid transparent;
        border-bottom: 5px solid #fff;
        z-index: 10;
    }

    .linkBlock {
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;

        &:hover {
            background-color: rgba(194, 194, 194, 0.2);
            transition: all 0.8s ease 0s;
        }

        .iconProfile {
            width: 40%;
        }

        .text {
            width: 60%;
            display: flex;
            justify-content: flex-start;
            font-size: 18px;
        }
    }
}
