.rememberMe {
    align-self: flex-start;
    margin-bottom: 19px;
}

.forgotPassword {
    align-self: flex-end;
    margin-bottom: 60px;
}
.forgotPassword a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}
