@import '../../../../common/styles/sass/mixins';

.descriptionBlock {
    @include flex(row, start, center, wrap);
    @include text(14px, 17px, 500);

    .second {
        padding-left: 390px;
    }

    .third {
        padding-left: 120px;
    }
}

.settingsBlock {
    @include flex(row, start, center, wrap);
    margin-bottom: 24px;
    margin-top: 8px;
}
