@import '../../../../common/styles/sass/mixins';

.updatePhotoContainer {
    @include flex(row, flex-start, flex-end, wrap);
    position: relative;

    .uploadPhoto {
        object-fit: cover;
        width: 250px;
        height: 190px;
        margin-top: 5px;
    }

    .button {
        position: absolute;
        top: 5px;
        //bottom:5px;
        left: 260px;
    }
}
