.superInput {
    background-color: white;
    padding:5px;
    border-radius:10px;
    border: 1px solid grey;
    width: 20%;
    outline: none;
}

.errorInput {
    background-color: white;
    padding:5px;
    border-radius:10px;
    border: 1px solid red;
    color: red;
    width: 20%;
    outline: none;
}

.error {
    color: red;
}




